<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<header>
			<h1>Classic Movies</h1>
			<nav>
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/movies/new">Add a New Movie</a>
					</li>
				</ul>
			</nav>
		</header>
		<main>
    		<h2>List of Movies</h2>
    		<ul>
       			 <% for(let i = 0; i < movies.length; i++){ %>
            		<li>
                		<a href="/movies/<%=movies[i]._id%>"><%=movies[i].name%><%=movies[i].date%></a>
            		</li>
        		<% } %>
   			 </ul>
		</main>
	</body>
</html>